@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Nanum+Myeongjo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Nanum+Myeongjo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suranna&display=swap");

/* ддля псевдоелементів теж потрібно робити */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  /* властивість яка міняє ширину для не тільки контент а всього разом */
  box-sizing: border-box;
  /* outline: 1px red solid; */
}

:root {
  --color-primary-light: #f5ede3;
  --color-primary-dark: #38585c;
  --color-primary-text-light: #dddddd;
  --color-primary-text-dark: #d8d8d8;
  --color-secondary: #768885;
  --color-hero-title-date: #545454;
  --color-secondary-text-dark: #5e5e5e;
  --color-secondary-text-light: #7d7d7d;
  --color-tertiary: #7d6e5c;
  --color-tertiary-light: #8f9c9a;
  --color-timer-text: #a4b2b4;
  --color-white: #ffffff;
  --color-klick-button: #324d4f;
}

body {
  background-color: var(--color-primary-dark);
  font-family: "Nanum Myeongjo", serif;
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Suranna", serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

/* для коретності відображенян зображень */
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  outline: 1px red solid;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}