/* ддля псевдоелементів теж потрібно робити */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  /* властивість яка міняє ширину для не тільки контент а всього разом */
  box-sizing: border-box;
}

body {
  background-color: #37585c;
}
