.card__pretitle {
  color: var(--color-secondary);
  font-family: "Allura", cursive;
  text-align: center;
  font-size: 20px;
}

.card__title-symbol {
  color: var(--color-secondary);
}

.card__title {
  color: var(--color--primary-dark);
}

.card__datetime {
  color: var(--color-hero-title-date);
}

.card__title {
  font-size: 34px;
  text-align: center;
}

.card__datetime {
  font-size: 23px;
  text-align: center;
}