.ceremony-start__icon {
  background-color: var(--color-primary-light);
}

.ceremony-start__title {
  color: var(--color-primary-light);
}

.countdown__value {
  color: var(--color-primary-light);
}

.countdown__label {
  color: var(--color-timer-text);
}
