/* ==========================
   Story Section
========================== */

/* Container */
.story__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* для адаптивності */
  margin: 0 auto;
  gap: 10px;
  padding-top: 65px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 30px;


}

/* Content (ліва частина) */
.story__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-secondary);
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 32px 16px 24px;
}

/* Title */
.story__title {
  color: var(--color-primary-light);
  padding-left: 16px;
  padding-bottom: 20px;
}

/* Decorative flourish */
.story__flourish img {
  /* width видалено */
  display: block;
  padding-left: 16px;
  height: 32px;
  margin-bottom: 5px;

}

/* Text wrapper */
.story__text-wrapper {
  background-color: var(--color-secondary);
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 16px;
  line-height: 28px;
}

/* Paragraphs */
.story__paragraph {
  color: var(--color-primary-text-dark);
  font-size: 18px;
  text-align: left;
  margin-bottom: 16px;
}

/* Gallery (права частина) */
.story__gallery img {
  /* width видалено */
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 50px;
}

/* ==========================
   Media Queries
========================== */

/* Wider screens: вертикальне центрування контенту */
@media (min-width: 767px) {
  .story__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 40px;
    padding: 65px 32px 30px;

  }

  .story__gallery img {
    padding-top: 0;
  }

  .story__title {
    font-size: 50px;
    padding: 0;
  }

  .story__content {
    padding: 43px;
    gap: 20px;
  }

  .story__text-wrapper {
    padding: 0;
  }

  .story__flourish img {
    padding: 0;
  }

  .story__paragraph {
    padding-bottom: 18px;
  }
}


@media (min-width: 991px) {
  .story__container {
    padding: 65px 40px 30px;

  }

  .story__gallery img {
    padding-bottom: 0;
    max-width: 100%;
    max-height: 100%;
  }
}