.card__pretitle {
  color: var(--color-secondary);
  font-family: "Allura", cursive;
}

.card__title-symbol {
  color: var(--color-secondary);
}

.card__title {
  color: var(--color--primary-dark);
}

.card__datetime {
  color: var(--color-hero-title-date);
}
