.rsvp__title {
  color: var(--color-primary-dark);
}

.rsvp__description {
  color: var(--color-tertiary);
  text-align: center;

  font-size: 20px;
}

.rsvp__container {
  background-color: var(--color-white);
}

.rsvp__label {
  color: var(--color-tertiary-light);
  text-align: start;
  font-size: 14px;
}

.rsvp__field {
  background-color: var(--color-primary-light);
}

.rsvp__actions {
  background-color: var(--color-secondary);
}