.wedding-details {
  background-color: var(--color-primary-light);
}

.wedding-details__header-title {
  color: var(--color-primary-dark);
}

.wedding-details__title {
  color: var(--color-primary-dark);
  text-align: left;
}

.wedding-details__time {
  color: var(--color-secondary);
  font-size: 14px;
}

.wedding-details__paragraph {
  color: var(--color-secondary-text-dark);
}

.wedding-details__location {
  color: var(--color-secondary-text-light);
}

.wedding-details__hotel-name {
  color: var(--color-secondary-text-light);
}

.wedding-details__info {
  text-align: left;
}

.wedding-details__location-text {
  color: var (--color-secondary-text-light);
}