/* ========== Hero Background Section ========== */
.hero__background {
  background-image: url(../img/couple-painting.png);
  background-size: cover;
  min-height: 521px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* ========== Hero Container (Card) ========== */
.hero__container {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: auto;
  max-width: 380px;
  gap: 30px;
  box-sizing: border-box;
  background-color: var(--color-primary-light);
}

/* ========== Card Elements ========== */
.card__pretitle {
  color: var(--color-secondary);
  font-family: "Allura", cursive;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card__title-symbol {
  color: var(--color-secondary);
  padding: 24px;
  margin: 0;
}

.card__title {
  color: var(--color-primary-dark);
  font-size: 34px;
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}

.card__datetime {
  color: var(--color-hero-title-date);
  font-size: 14px;
  text-align: center;
  font-weight: 800;
  line-height: 28px;
  margin: 0;
}

.card__ornament {
  display: flex;
  justify-content: center;
  height: 32px;
  margin: 0;
  margin-bottom: 30px;
}