/* ===== SECTION ===== */

.wedding-details {
  background-color: var(--color-primary-light);
  padding-top: 90px;
  padding-bottom: 90px;
}

/* ===== CONTAINER ===== */

.wedding-details__container {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

/* ===== HEADER ===== */

.wedding-details__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.wedding-details__header-title {
  color: var(--color-primary-dark);
}

/* make symbol container shrink to content and image maintain aspect ratio */
.wedding-details__header-symbol {
  display: inline-block;
}

.wedding-details__header-symbol-image {
  height: 32px;
  width: auto;
  display: block;
}

/* ===== ROWS ===== */

.wedding-details__info {
  background-color: var(--color-white);
  text-align: left;
  padding: 33px 39px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* ===== TITLES & TEXT ===== */

.wedding-details__title {
  color: var(--color-primary-dark);
  text-align: left;
  line-height: 1.2;
}

.wedding-details__time {
  color: var(--color-secondary);
  font-size: 14px;
}

.wedding-details__paragraph {
  color: var(--color-secondary-text-dark);
  margin: 0;
}

.wedding-details__hotel-name {
  color: var(--color-secondary-text-light);
}

/* ===== LOCATION BLOCK ===== */

.wedding-details__location {
  color: var(--color-secondary-text-light);
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  /* space between icon and text */
}

/* icon container fixed size; svg fills it */
.wedding-details__location-icon {
  flex: 0 0 auto;
  width: 20px;
  height: 24px;
  display: inline-block;
  ;

}

.wedding-details__location-icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

.wedding-details__location-text {
  /* allows text to wrap naturally next to the icon */
  display: inline-block;
  line-height: 30px;
}

.wedding-details__image {
  display: block;
  width: 100%;
  height: auto;
}

.wedding-details__paragraph {
  padding-bottom: 20px;
}

.wedding-details__hotel-name {
  font-size: 14px;
}

@media (min-width: 767px) {
  .wedding-details__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    max-height: 648px;
    min-height: 539px;
  }

  .wedding-details__media--top {
    order: 2;
    max-width: 100%;
  }

  .wedding-details__image {
    height: 100%;
    object-fit: cover;
  }

  .wedding-details__info {
    order: 1;
  }

  .wedding-details__container {
    padding-left: 32px;
    padding-right: 32px;

    gap: 30px
  }

  .wedding-details__header-title {
    font-size: 50px;
  }

  .wedding-details {
    padding-bottom: 110px;
    padding-top: 105px;
  }

  .wedding-details__title {
    font-size: 33px;
  }

  .wedding-details__info {
    padding: 37px 46px;
    gap: 15px;
  }

  .wedding-details__time {
    margin: 0;
  }

  .wedding-details__hotel-name {
    margin: 0;
  }

}



@media (min-width: 991px) {
  .wedding-details__info {
    padding: 45px 60px;
    gap: 15px;
  }

  .wedding-details__row {
    max-height: 562px;
    min-height: 456px;
  }

  .wedding-details__container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .wedding-details {
    padding-bottom: 120px;
    padding-top: 130px;


  }

  .wedding-details__header-title {
    font-size: 60px;
  }


  .wedding-details__paragraph {
    padding-bottom: 40px;
  }
}