.john-jane {
  background-color: var(--color-secondary);
}

.john-jane__title {
  color: var(--color-primary-light);
}

.john-jane__subtitle {
  color: var(--color-primary-text-light);
  text-align: center;
  font-size: 20px;
}