.ceremony-start__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




.ceremony-start__icon {
  background-color: var(--color-primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

/* Make the inline SVG inside the circular icon 40x40 */
.ceremony-start__icon svg {
  width: 40px;
  height: 40px;
  display: block;
}

.ceremony-start__countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ceremony-start__title {
  color: var(--color-primary-light);
}

.countdown__value {
  color: var(--color-primary-light);
}

.countdown__label {
  color: var(--color-timer-text);
}

.ceremony-start__title {
  text-align: center;
}

.countdown__value {
  font-size: 36px;
  text-align: center;
}

.countdown__label {
  font-size: 18px;
  text-align: center;
}

/* Ensure each countdown item stacks value above label */
.countdown__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}