.rsvp__title {
  color: var(--color-primary-dark);
}

.rsvp__description {
  color: var(--color-tertiary);
}

.rsvp__container {
  background-color: var(--color-white);
}

.rsvp__label {
  color: var(--color-tertiary-light);
}

.rsvp__field {
  background-color: var(--color-primary-light);
}

.rsvp__actions {
  background-color: var(--color-secondary);
}
