.ceremony-start__icon {
  background-color: var(--color-primary-light);
}

.ceremony-start__title {
  color: var(--color-primary-light);
}

.countdown__value {
  color: var(--color-primary-light);
}

.countdown__label {
  color: var(--color-timer-text);
}

.ceremony-start__title {
  text-align: center;
}

.countdown__value {
  font-size: 36px;
  text-align: center;
}

.countdown__label {
  font-size: 18px;
  text-align: center;
}