.wedding-details {
  background-color: var(--color-primary-light);
}

.wedding-details__header-title {
  color: var(--color-primary-dark);
}

.wedding-details__title {
  color: var(--color-primary-dark);
  text-align: left;
}

.wedding-details__time {
  color: var(--color-secondary);
  font-size: 14px;
}

.wedding-details__paragraph {
  color: var(--color-secondary-text-dark);
}

.wedding-details__location {
  color: var(--color-secondary-text-light);
}

.wedding-details__hotel-name {
  color: var(--color-secondary-text-light);
}

.wedding-details__info {
  background-color: var(--color-white);
  text-align: left;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 39px;
  padding-right: 39px;
}