/* ===============================
   Hero Section
================================= */

/* ===== Hero Section ===== */
.hero__background {
  background-image: url(../img/couple-painting.png);
  background-size: cover;
  background-position: center;
  min-height: 521px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero__container {
  width: 100%;
  height: 272px;
  /* фіксована висота */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 25px;
  /* адаптивний padding для мобільних */
}

/* ===== Hero Card ===== */
.hero__card {
  width: 100%;
  /* адаптивна ширина */
  min-width: 262px;
  /* мінімальна ширина на мобільних */
  height: 100%;
  /* фіксована висота = 272px */
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* ===== Card Elements ===== */
.card__pretitle {
  font-family: "Allura", cursive;
  font-size: 22px;
  font-weight: 400;
  color: var(--color-secondary);
  text-align: center;
  margin: 30px 0;
}

.card__ornament {
  display: flex;
  justify-content: center;
  height: 32px;
  margin-bottom: 30px;
}

.card__ornament img {
  height: 100%;
  width: auto;
  display: block;
}

.card__title {
  font-size: 26px;
  font-weight: 9пше00;
  color: var(--color-primary-dark);
  text-align: center;
  margin: 0 15px;
}

.card__title-symbol {
  color: var(--color-secondary);
  padding: 0;
}

.card__datetime {
  font-size: 14px;
  font-weight: 800;
  color: var(--color-hero-title-date);
  text-align: center;
  margin: 30px;
}