.john-jane__image {
  width: 100%;
  height: auto;
  aspect-ratio: 242 / 238;
  object-fit: cover;
  display: block;
}

.john-jane {
  background-color: var(--color-secondary);
}

.john-jane__title {
  color: var(--color-primary-light);
}

.john-jane__subtitle {
  color: var(--color-primary-text-light);
  text-align: center;
  font-size: 20px;
}

.john-jane__decoration {
  height: 32px;
  width: 100%;
  max-width: 93px;
  /* adjust as needed */
  display: block;
  object-fit: contain;
}

.john-jane__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 90px;
  /* space between elements */
  padding-bottom: 30px;
}


.john-jane__carousel {
  padding-left: 15px;
  padding-right: 15px;
}

/* Multi-active для john-jane__carousel */
.john-jane__carousel .carousel-item {
  display: none;
  transition: none;
  position: static;
}

.john-jane__carousel .carousel-item.multi-active {
  display: block;
  position: relative;
  float: left;
}

.john-jane__carousel .carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

@media (min-width: 767px) {
  .john-jane__title {
    font-size: 50px;
  }

  .john-jane__inner {
    padding: 105px 32px 30px;
  }
}

@media (min-width: 991px) {
  .john-jane__title {
    font-size: 60px;
  }

  .john-jane__inner {
    padding: 120px 40px 30px;
  }
}








/* 2 фото в каруселі, розмір 186x183 */
/* @media (min-width: 478px) { */


/* .john-jane__carousel {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .john-jane__image {
    flex: 0 0 186px;
    width: 186px;
    height: 183px;
    aspect-ratio: 186 / 183;
  } */


/* 3 фото в каруселі, розмір 210x206 */


/* .john-jane__carousel {
    gap: 18px;
  }

  .john-jane__image {
    flex: 0 0 210px;
    width: 210px;
    height: 206px;
    aspect-ratio: 210 / 206;
  }
} */

/* 6 фото в каруселі, розмір 124x123 */



/* .john-jane__carousel {
    gap: 12px;
  }

  .john-jane__image {
    flex: 0 0 124px;
    width: 124px;
    height: 123px;
    aspect-ratio: 124 / 123;
  } */