.rsvp__title {
  color: var(--color-primary-dark);
}

.rsvp__background {
  background-image: url(../img/rsvp-vg.png);
  background-size: cover;
  background-position: center;

  background-attachment: fixed;

  display: flex;
  justify-content: center;
  /* важливо */
  align-items: center;

  padding: 100px 24px;
  /* щоб не прилипало до країв */
}

.rsvp__description {
  color: var(--color-tertiary);
  text-align: center;

  font-size: 20px;
}

.rsvp__container {
  background-color: var(--color-white);
  width: 100%;
  height: 567px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.rsvp__label {
  color: var(--color-tertiary-light);
  text-align: start;
  font-size: 14px;
  box-sizing: border-box;
}

.rsvp__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Nanum Myeongjo", serif;
  line-height: 14px;
  font-size: 14px;
}

.rsvp__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-light);
  width: 100%;
  min-width: 194px;
  height: 60px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  padding: 21px 40px;
  /* якщо потрібен внутрішній відступ */
}

.rsvp__input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  outline: none;
  color: var(--color-tertiary-light);
  font-family: "Nanum Myeongjo", serif;
  font-size: 14px;
  line-height: 1.2;
}

.rsvp__input::placeholder {
  color: var(--color-tertiary-light);
  font-family: "Nanum Myeongjo", serif;
  font-size: 14px;
  line-height: 1.2;
}

.rsvp__actions {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 194px;
  height: 56px;

}

.rsvp__decoration {
  height: 32px;
  width: 100%;
  max-width: 93px;
  /* adjust as needed */
  display: block;
  object-fit: contain;
}

.rsvp__button {
  color: var(--color-white);
  font-family: "Nanum Myeongjo", serif;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  background: transparent;
  outline: none;
  letter-spacing: 1.4px;
  font-weight: 400;
}